/* start with mobile first */

div, header, footer{
  width: 100%;
  height: 200px; 
  border: 1px solid black;
  background-color: lightcoral;
  color: red;
  text-align: center;
  line-height: 200px;
}