<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <%- include('../layout/header') %>
    <main>
      <section class="create-view container">
        <h2 class="view-title">"Add A Task"</h2>
        <form id="create-form" action="/add" method="post">
          <fieldset>
            <legend>Add a task</legend>
            <input type="text" name="title" placeholder="Task">
            <textarea name="description" placeholder="Description of the task" cols="30" rows="10"></textarea>
            <input type="text" name="category" placeholder="Category">
            <input type="text" name="contact" placeholder="Contact Person">
            <input type="hidden" name="status" value="not done">
            <button type="submit">Add This Task</button>
          </fieldset>
        </form>

      </section>
    </main>
  </body>
</html>
