@import url('https://fonts.googleapis.com/css?family=Abel|Oswald:700|Yellowtail|Patrick+Hand');

#logo {
  padding-bottom: 25px;
  color: black;
  text-decoration: none;
}


#logo h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 2.4em;
}

#slogan {
  color: #a3a4a2;
  font-family: 'Abel', sans-serif;
  font-size: .65em;
  text-transform: uppercase;
}


h2 {
  margin-top: 50px;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
}

body {
    background: #fff;
  }
  
  * {
    font-family: times;
  }
  
  input {
    font-family: 'Patrick Hand', cursive;
  }

  footer section p{
    color: #aaa;
  }
  