nav, article, aside, footer section {
    margin: 0 auto;
    width: 900px;
  }

  nav {
    margin-top: 25px;
  }

  nav li {
    float: left;
    padding-right: 2px;
  }
  
  hr {
    clear: both;
    border: 0;
    height: 13px;
    background-image: url('../img/hr.png');
  }

  .date {
    float: left;
  }



  .print, .date {
    margin: 0;
    margin-top: 10px; 
    margin-bottom: 33px;
  }



  .print {
    padding-left: 30px;
    float: right;
  }

  .print img {
    margin-right: 3px;
  }

  .recipe {
    letter-spacing: .1em;
    height: 260px;
    padding: 37px 0 0 60px;
    margin: 40px 0;
  }

  .recipe li {
    float: left;
    width: 40%;
  }

  aside {
    padding-top: 30px;
    padding-bottom: 60px
  }
  
  aside img {
    float: left;
  }

  aside p {
    padding-left: 100px;
    width: 65%;
    margin: 0;
    text-indent: 0;
  }

  section hr {
    border-bottom: 1px solid #eee;
    height: 0;
  }

  footer section p{
    padding: 50px 0;
    line-height: 1.5em;
    text-align: center;
  }

  
  aside button {
    float: right;
    padding: 15px 40px;
  }