nav, article, aside, footer section {
    margin: 0 auto;
    width: 900px;
  }

  nav {
    margin-top: 25px;
  }

 
  hr {
    clear: both;
    border: 0;
    height: 13px;
    background-image: url('../img/hr.png');
  }

  aside h3 {
    padding-left: 100px;
    padding-bottom: 10px;
  }
  

  #logo {
    float: left;
  }


  #slogan {
    width: 250px;
    padding-left: 55px;
  }

  
  #logo h1 {
    padding-left: 50px;
  }

  aside {
    padding-top: 30px;
    padding-bottom: 60px
  }

  section hr {
    border-bottom: 1px solid #eee;
    height: 0;
  }

  footer section p{
    padding: 50px 0;
    line-height: 1.5em;
    text-align: center;
  }

  aside button {
    float: right;
    padding: 15px 40px;
  }