<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
  </head>
  <body>
    <main>
        <% searchResults.forEach( book => { %>
            <h3><%= book.title %></h3>
        <% }) %>
    </main>
  </body>
</html>
