@import url('https://fonts.googleapis.com/css?family=Abel|Oswald:700|Yellowtail|Patrick+Hand');



* {
  font-family: times;
}

body {
  background: #fff;
}
#logo {
  color: black;
  text-decoration: none;
}
#logo h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 2.4em;
}
#slogan {
  color: #a3a4a2;
  font-family: 'Abel', sans-serif;
  font-size: .65em;
  text-transform: uppercase;
}
h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
}
hr {
  background-image: url('../img/hr.png');
}
.print, .date {
  color: #a9a8a5;
  font-family: 'Abel', sans-serif;
  font-size: .8em;
  text-transform: uppercase;
}
.print {
  text-decoration: none;
}
main p {
  color: #333;
  font-size: 1.2em;
}
input {
  font-family: 'Patrick Hand', cursive;
}
.recipe {
  letter-spacing: .1em;
  font-family: 'Patrick Hand', cursive;
  color: #666a42;
  font-size: 1.3em;
}
aside h3 {
  font-size: 1.6em;
  color: #555;
}
aside button {
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  background: #b8705a;
  color: #fff;
  font-size: 1.2em;
}
footer section p{
  color: #aaa;
}
