@import url('https://fonts.googleapis.com/css?family=Abel|Oswald:700|Yellowtail|Patrick+Hand');







#logo {
  padding-bottom: 25px;
}
#logo h1 {
  padding-left: 50px;
}

#slogan {
  padding-left: 55px;
}
nav li {
  padding-right: 2px;
}









.print {
  padding-left: 30px;
}


.recipe {
  background-image: url("img/list-bg.png");
  padding: 37px 0 0 60px;
}


aside {
  padding-top: 30px;
  padding-bottom: 60px
}



aside h3 {
  padding-left: 100px;
  padding-bottom: 10px;
}

aside p {
  padding-left: 100px;
}

aside button {
  padding: 15px 40px;
  border: none;
}

section hr {
  border-bottom: 1px solid #eee;
  height: 0;
}


footer section p{
  padding: 50px 0;
}
