.menu {
  font-size: 1.5rem;
}

.menu li {
  display: inline-block;
  padding: .5rem 2rem;
  position: relative;
}

.menu a {
  color: #eee;
  text-decoration: none;
  text-transform: uppercase;
}

.menu a:after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
