header {
  background: rebeccapurple;
}

body {
  background: #fff;
  font-size: 2.5rem;
}

div.card {
  border: 1px solid #111;
}

footer {
  background: #ccc;
}

.menu li:hover {
  background: #f5f5f5;
}

.menu li:hover a {
  color: #111;
}
