<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>My Grocery List</h1>
    <p><a href="/">Home</a></p>
    <ul>
      <% arrayOfItems.forEach(item => { %>
        <li><%= item %></li>
      <% }) %>

    </ul>
    <!-- <ul>
      <li>Apples</li>
      <li>Pears</li>
      <li>Bananas</li>
    </ul> -->
  </body>
</html>
