<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head') %>
  </head>

  <header>
    <%- include('./layout/header') %>
  </header>

  <body>
    <h3><%= error %></h3>
  </body>

</html>