nav, article, aside, footer section {
    margin: 0 auto;
    width: 900px;
  }
  
  nav {
    margin-top: 25px;
  }
  nav ul {
    float: right;
  }
  
  nav li {
    float: left;
    padding-right: 2px;
  }