@import url('https://fonts.googleapis.com/css?family=Abel|Oswald:700|Yellowtail|Patrick+Hand');
@import "reset.css";
@import "base.css";
@import "layout.css";
@import "modules.css";


* {
  font-family: times;
}


hr {
  clear: both;
  border: 0;
  height: 13px;
  background-image: url('../img/hr.png');
}

h2 {
  margin-top: 50px;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
}

.print, .date {
  color: #a9a8a5;
  font-family: 'Abel', sans-serif;
  font-size: .8em;
  margin: 0;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 33px;
}



.print {
  text-decoration: none;
  padding-left: 30px;
  float: right;
}



main p {
  color: #333;
  font-size: 1.2em;
  line-height: 1.3em;
  text-indent: 30px;
  margin: 20px 0px;
}

input {
  font-family: 'Patrick Hand', cursive;
}

.recipe {
  letter-spacing: .1em;
  font-family: 'Patrick Hand', cursive;
  color: #666a42;
  background-image: url("img/list-bg.png");
  height: 260px;
  padding: 37px 0 0 60px;
  margin: 40px 0;
}

.recipe li {
  float: left;
  width: 40%;
  font-size: 1.3em;
  line-height: 31px;
}







aside button {
  float: right;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  padding: 15px 40px;
  background: #b8705a;
  color: #fff;
  font-size: 1.2em;
  border: none;
}




footer section p{
  padding: 50px 0;
  line-height: 1.5em;
  text-align: center;
  color: #aaa;
}



