body > header {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.card {
  border: 1px solid black;
  display: inline-block;
  margin: 1rem;
  width: 220px;
}

.card-template {
  display: none;
}

.card header {
  background: #111;
  color: ivory;
  text-transform: uppercase;
  text-align: center;
}

.card img {
  display: block;
  margin: 1em auto;
  width: 200px;
}

.card p {
  font-style: italic;
  padding: 1rem;
}
