<!DOCTYPE html>
<html lang="en">

<head>
  <title>New Person Form</title>
</head>

<body>

  <form method="get" action="/form-with-get">
    <div>
      <input name="fullname" placeholder="Your Full Name" />
    </div>
    <div>
      <input name="city" placeholder="Where do you live?" />
    </div>
    <div>
      <button type="submit">Save User</button>
    </div>
  </form>

  <hr />

  <form method="post" action="/form-with-post">
    <div>
      <input name="cars" placeholder="What kinda car do you have?" />
    </div>
    <div>
      <input name="pet" placeholder="Your Pet's Name" />
    </div>
    <div>
      <button type="submit">Save User</button>
    </div>
  </form>

</body>

</html>
