<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>First EJS Template</title>
</head>

<body>

  <h1>EJS IS COOL</h1>

  <h2>EJS CAN COUNT ...</h2>

  <% [2,4,6,8].forEach( num => { %>
  <h3>
    <%= num %>
  </h3>
  <% }) %>

</body>

</html>
