@media (min-width: 960px) {

    main {
        display:grid;
        grid-template-columns: 250px 1fr 250px;
        height: calc(100% - 140px);
    }

    main > nav {
        order:1;
    }

    main > .content {
        order:2;
        display:grid;
        grid-template-rows: 50% 50%;
    }

    main > aside {
        order: 3;
    }

}
