@import url('https://fonts.googleapis.com/css?family=Abel|Oswald:700|Yellowtail|Patrick+Hand');


* {
    font-family: times;
  }
  
  body {
    background: #fff;
  }

  main p {
    color: #333;
    font-size: 1.2em;
    line-height: 1.3em;
    text-indent: 30px;
    margin: 20px 0px;
  }

  input {
    font-family: 'Patrick Hand', cursive;
  }